:root {
  --color-bgBlue: "#070724";
  --color-darkGray: "#38384f";
  --color-lightGray: "#838391";
  --color-mercury: "#419ebb";
  --color-venus: "#eda249";
  --color-earth: "#6f2ed6";
  --color-mars: "#d14c32";
  --color-jupiter: "#d83a34";
  --color-saturn: "#cd5120";
  --color-uranus: "#1ec2a4";
  --color-neptune: "#2d68fo";
}

#root {
  padding: 0;
}

/* HEADER */

.header {
  width: 100%;
  padding: 0;
  justify-content: space-between;
}

/* Logo */

.logo {
  height: 8.5rem;
  width: 100%;
}

.logo--text {
  font-family: "Antonio, sans-serif";
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: -1.05px;
  padding: 0.5rem 0;
}

/* NavBar */

.nav {
  width: 100%;
  justify-content: space-between;
}

.nav--links {
  width: 100%;
  justify-content: space-between;
  margin: 4rem 0;
  padding: 0 2.5rem;
}

.nav--menu-list {
  width: 100vw;
}

.nav--menu-item {
  max-width: 90%;
  margin: 1.5rem 2rem;
}

/* Info Buttons */

.info-buttons {
  gap: 8;
  margin: 2rem auto;
}

.info-buttons--btn_tablet {
  width: 281px;
  height: 40px;
  margin: 1rem auto;
  padding: 0.9rem;
  border: 1px solid white;
}

.info-buttons--btn_desktop {
  width: 350px;
  height: 48px;
  margin: 1rem auto;
  padding: 1.3rem;
  border: 1px solid white;
}

.info-button--text {
  color:white;
  float: left; 
  padding-top: 0.5rem; 
  padding-left: 0.5rem;
}


/* Planet Image */

.planet-img--container {
  width: 100%;
}

.planet-img {
  height: 111px;
  margin: 6rem auto;
}

@media screen and (min-width: 768px) {
  .planet-img{
    height: 184px;
    margin: 8rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .planet-img{
    height: 290px;
  }
}