:root {
  --color-bgBlue: "#070724";
  --color-darkGray: "#38384f";
  --color-lightGray: "#838391";
  --color-mercury: "#419ebb";
  --color-venus: "#eda249";
  --color-earth: "#6f2ed6";
  --color-mars: "#d14c32";
  --color-jupiter: "#d83a34";
  --color-saturn: "#cd5120";
  --color-uranus: "#1ec2a4";
  --color-neptune: "#2d68fo";
}

#background {
  background-image: url('./assets/background-stars.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  padding: 0;
}

/* HEADER */

.header {
  width: 100%;
  padding: 0;
  justify-content: space-between;
}

@media screen and (min-width: 426px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
  }
}

/* Logo */

.logo {
  height: 8.5rem;
  width: 100%;
}

.logo--text {
  font-family: "Antonio, sans-serif";
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: -1.05px;
  padding: 0.5rem 0;
}

/* NavBar */

.nav {
  width: 100%;
  justify-content: space-between;
}

.nav--buttons {
  width: 100%;
  justify-content: space-between;
  margin: 4rem 0;
  padding: 0 2.5rem;
}

.nav--button {
  size: "lg";
}

.nav--button:hover {
  background-color: transparent;
  border-radius: 0;
  border-top: 2px solid;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.nav--menu-list {
  width: 100vw;
}

.nav--menu-item {
  max-width: 90%;
  margin: 1rem;
}

.nav--menu-item-btn {
  margin-top: 1rem;
}

/* Info Buttons */

.info-buttons {
  gap: 8;
  margin: 2rem auto;
}

.info-button--number {
  color:white;
  padding-top: 0.5rem; 
  padding-left: 0.5rem;
  text-align: left;
}



@media screen and (min-width: 768px) {
  .info-buttons {
    flex-direction: column;
  }
  
  .info-buttons--btn {
    width: 281px;
    height: 40px;
    margin: 1rem auto;
    border: 1px solid white;
  }

  .info-buttons--btn:hover {
    background-color: "#38384f"; 
  }

  .info-button--text {
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .info-buttons {
    padding-right: 45px;
  }

  .info-buttons--btn {
    width: 350px;
    height: 48px;
    padding: 1.3rem;
  }
}


/* Planet Image */

.planet-img--container {
  width: 100%;
}

.planet-img {
  height: 111px;
  margin: 6rem auto;
}

@media screen and (min-width: 768px) {
  .planet-img{
    height: 184px;
    margin: 8rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .planet-img{
    height: 290px;
  }
}

/* Planet Info */

.planet-info--container {
  margin: 1rem auto;
}

.planet-info--title {
  margin: 1rem auto;
}

.planet-info--content {
  margin: 2rem auto;
}

.planet-info--source {
  margin: 4rem auto;
}

@media screen and (min-width: 768px) {
  .planet-info--container {
    text-align: left;
  }
}

/* Facts */

.planet-facts--container {
  flex-direction: column;
  margin: 1rem 2.4rem; 
}

.fact--container {
  width: 100%;
  height: 48px;
  padding: 0 1.4rem;
  margin-bottom: 1rem;
  justify-content: space-between; 
  align-items: center;
  border: 1px solid #38384f;
}

@media screen and (min-width: 768px) {

  .planet-facts--container {
    flex-direction: row;
    align-content: space-between;
    margin: 0;
    gap: 1rem; 
  }

  .fact--container {
    flex-direction: column;
    height: 88px;
    padding: 1rem 0.5rem;
  }

  .fact--content {
    width: 100%;
    height: 100%;
    text-align: left;
  }
  
}

@media screen and (min-width: 1024px) {

  .fact--container {
    flex-direction: column;
    height: 128px;
    padding: 2rem 1.5rem;
  }

}